twitter4j.properties
/TweetArchive2.txt
/TweetArchive.txt
/TweetArchive1.txt
/DataByCandidate.csv
/DataByState.csv
/report.txt
/TweetArchive_full.txt
/TweetArchivePostDebate.txt
/readmecopy

# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea/
*.iml
*.iws
out/
artifacts/

# Mac
.DS_Store

# Maven
log/
target/ 
